@media screen and (max-width: $max-width-mobile) {

  .header-event {
    margin-left: 10px;
    margin-right: 10px;

    &-img {

    }

    &-info {
      width: 65%;

      &__group {
        font-size: 12px;
        padding-top: 4%;
        padding-left: 4%;
      }

      &__date {
        font-size: 10px;
        padding-top: 4%;
        padding-right: 4%;
      }

      &__more {
        padding-bottom: 4%;
        padding-left: 4%;

        &-style {
          font-size: 12px;
        }

        &-description {
          font-size: 10px;
        }
      }

      &__button {
        width: 50px;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        padding: 4px 8px;
      }
    }
  }

  .events-table {

    .event {
      object-fit: cover;
      height: 250px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .header-event-info {
      height: 40%;
    }
  }


  .event-button-load-more {
    margin-left: 20px;
    padding: 10px 30px;
    font-size: 16px;
  }


}