@media screen and (max-width: $max-width-mobile) {

  .header-event {
    margin-left: 10px;
    margin-right: 10px;

    &-img {

    }

    &-info {
      height: 100px;

      &__group {
        font-size: 12px;
        padding-top: 2px;
        padding-left: 2px;
      }

      &__date {
        font-size: 10px;
        padding-top: 2px;
        padding-right: 2px;
      }

      &__more {
        padding-bottom: 2px;
        padding-left: 2px;

        .header-event-info__more-style {
          font-size: 10px;
        }

        .header-event-info__more-description {
          font-size: 7px;
        }
      }

      &__button {
        width: 50px;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
      }
    }
  }


  .events-table {
    margin-left: 10px;
    margin-right: 10px;

    .event {


      &-img {

      }

      &-info {
        height: 100px;

        &__group {
          font-size: 12px;
          padding-top: 2px;
          padding-left: 2px;
        }

        &__date {
          font-size: 10px;
          padding-top: 2px;
          padding-right: 2px;
        }

        &__more {
          padding-bottom: 2px;
          padding-left: 2px;

          .event-info__more-style {
            font-size: 10px;
          }

          .event-info__more-description {
            font-size: 7px;
          }
        }

        &__button {
          width: 50px;
          height: 25px;
          line-height: 25px;
          font-size: 12px;
        }
      }
    }
  }

  .event-button-load-more {
    margin-left: 10px;
    padding: 5px 30px;
    font-size: 16px;
  }


}