@media screen and (max-width: $max-width-mobile) {

  .events-table {


    .event {



      .event-img {

      }

      .event-info {
        height: 100px;


        &__group {
          font-size: 12px;
          padding: 6px 0 3px 6px;

        }

        &__style {
          padding-left: 6px;
          font-size: 12px;

        }

        &__description {
          font-size: 10px;
          padding: 3px 0 6px 6px;

        }

        &__date {
          font-size: 12px;
          top: 4px;
          right: 4px;
          width: 36%;
        }

        &__button {
          width: 60px;
          height: 25px;
          bottom: 10px;
          right: 5px;


          .event-info__button-text {
            font-size: 12px;
            line-height: 25px;
          }
        }
      }
    }
  }

  .event-button-load-more {
    width: 180px;
    height: 30px;

    .event-button-load-more-text {
      font-size: 16px;
      line-height: 30px;

    }
  }


}