.footer {
  width: 100%;
  background-color: $color-bg-black;
  overflow: hidden;
  min-width: 320px;
  padding-bottom: 0;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  color: $color-white;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  margin-left: $section-margin;
  padding: 50px $section-head-margin;
  line-height: 1.5;
  transition: all 0.4s ease;

  &__title {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 22px;
  }
}

.footer-info-contacts {
  flex-basis: 28%;

  &__phone {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #ffffff;
    white-space: nowrap;
  }

  .fab {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: $color-bg-black;
    background-color: $color-yellow;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 38px;
    margin-right: 16px;
    margin-top: 20px;

    &:hover {
      background-color: #ffffff;
    }
  }
}


.footer-info-schedule {
  flex-basis: 25%;
  transition: all 0.4s ease;

  &__working-hours {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.footer-info-form {
  flex-basis: 45%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.5s ease;

  &__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__input {
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    width: 48%;
    outline: none;
    border: 2px solid #dddddd;
    background-color: transparent;
    padding: 14px 0 26px 9px;
    transition: all 0.4s ease;
    color: #fff;
    margin-bottom: 24px;
    font-size: 17px;
    box-sizing: border-box;

    &-msg {
      width: 98%;
      padding-bottom: 70px;
      font-family: Helvetica, sans-serif;
      overflow: hidden;
      resize: none;
    }

    &-tel {
      margin-left: 2%;
    }
  }

  &__submit {
    -webkit-border-radius: 1px;
    -webkit-appearance: none;
    @include orange_button;
    padding: 15px 36px;

  }
}

//  styles for placeholders
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dbdcdc;
  opacity: 0.7;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dbdcdc;

}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dbdcdc;

}

// remove red border for input elements with "require" attribute in mozilla
:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow: none;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus::placeholder {
  color: transparent;
}

.mapboxgl-canvas {
  margin-left: $section-margin;
  width: calc(100% - $section-margin);
  padding: 0 40px 0 40px;
  height: 500px;

}

#map {
  margin-right: 40px;
  height: 500px;
}


// Стили для tablet-версии
@media screen and (max-width: $max-width-tablet),
screen and (max-height: 515px) {
  .footer-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

  }

  .footer-info {
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
    transition: all 0.4s ease;
  }


  .footer-info-contacts {
    flex-basis: 35%;
    margin-bottom: 30px;
    margin-right: 50px;
    transition: all 0.4s ease;

    &__header {
      margin-bottom: 25px;
    }

    &__phone {
      margin-bottom: 5px;
    }

    .fab {
      margin-right: 10px;
    }
  }

  .footer-info-schedule {
    flex-basis: 35%;
    margin-bottom: 30px;
    transition: all 0.4s ease;
  }

  .footer-info-form {
    flex-basis: 80%;
    margin-top: 30px;
    transition: all 0.4s ease;

    &__input-msg {
      width: 99%;
    }

  }

  .mapboxgl-canvas {
    margin-left: 0;
    width: 100%;
    padding: 0px 0px 0px 0px;
  }

  #map {
    margin-right: 25px;
  ;
    margin-left: 25px;
    height: 400px;

  }
}


// Стили для mobile-версии
@media screen and (max-width: $max-width-mobile) {
  .footer-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer-info {
    display: flex;
    flex-direction: column;
  }

  .footer-info-contacts {
    width: 100%;
    margin-bottom: 60px;

    &__header {
      margin-bottom: 20px;
    }
  }


  .footer-info-schedule {
    width: 100%;
    margin-bottom: 30px;

    &__working-hours {
      margin-bottom: 3px;
    }
  }


  .footer-info-form {
    width: 100%;
    margin-bottom: 0;

    &__input {
      width: 100%;
      margin-left: 0;
    }

    &__submit {
      width: 100%;
    }
  }

  .mapboxgl-canvas {
    margin-left: 0;
    width: 100%;
    padding: 0;
  }

  #map {
    height: 300px;
  }
}