.position-events-on-main {
  position: relative;
  margin-bottom: 20px;

  .events-headline {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 300px;
  }

  .events-link {
    position: absolute;
    right: 50px;
    bottom: 50px;
    a {
      font-size: 22px;
      font-weight: 700;
      color: $color-yellow;
      border-bottom: 1px solid $color-yellow;
    }
  }
}
.main-event {
  margin-left: $header-title-margin;
  margin-right: $section-head-margin;
  position: relative;
  &-img {
    width: 100%;
  }

  &-info {
    width: 40%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 55px;

    &__group {
      color: #fff;
      font-size: 30px;
      font-weight: 700;
      padding: 12px 0 6px 12px;
      width: 60%;
    }

    &__style {
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      padding-left: 12px;
    }

    &__description {
      color: #fff;
      font-weight: 400;
      font-size: 14px;
      width: 60%;
      padding: 6px 0 12px 12px;
    }

    &__date {
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      position: absolute;
      top: 12px;
      right: 12px;
    }

    &__button {
      width: 130px;
      height: 50px;
      background-color: $color-yellow;
      text-align: center;
      cursor: pointer;
      position: absolute;
      bottom: 30px;
      right: 12px;

      div {
        font-size: 22px;
        font-weight: 700;
        line-height: 50px;
        color: $color-bg-gray;
      }
    }
  }
}

//styles for tablet version
@media screen and (max-width: $max-width-tablet) {

  .position-events-on-main {

    .events-headline {
      margin-left: 10px;
      font-size: 24px;
    }

    .events-link {
      right: 40px;
      bottom: 40px;
      a {
        font-size: 18px;
      }
    }
  }

  .main-event {
    margin: 0 $section-head-margin;

    .main-event-img {
      width: 100%;
    }

    .main-event-info {
      width: 50%;
      height: 110px;
      bottom: 10px;
      left: 10px;

      &__group {
        font-size: 16px;
        padding: 4px 0 3px 6px;
        width: 60%;
      }

      &__style {
        font-size: 12px;
        padding-left: 4px;
      }

      &__description {
        font-size: 10px;
        padding: 3px 0 0px 6px;
        width: 56%;
      }

      &__date {
        font-size: 12px;
        top: 4px;
        right: 4px;
      }

      &__button {
        width: 80px;
        height: 35px;
        bottom: 20px;
        right: 6px;

        div {
          font-size: 16px;
          line-height: 35px;
        }
      }
    }
  }

}

//styles for mobile version
@media screen and (max-width: $max-width-mobile) {

  .position-events-on-main {

    .events-headline {
      font-size: 20px;
    }

    .events-link {
      right: 25px;
      bottom: 25px;
      a {
        font-size: 14px;
      }
    }
  }

  .main-event {

    .main-event-img {

    }

    .main-event-info {
      height: 100px;

      &__group {
        font-size: 12px;
        padding: 6px 0 3px 6px;
      }

      &__style {
        padding-left: 6px;
        font-size: 12px;
      }

      &__description {
        font-size: 10px;
        padding: 3px 0 6px 6px;
      }

      &__date {
        font-size: 12px;
        top: 4px;
        right: 4px;
        width: 36%;
      }

      &__button {
        width: 60px;
        height: 25px;
        bottom: 10px;
        right: 5px;

        div {
          font-size: 12px;
          line-height: 25px;
        }
      }
    }
  }

}