//styles for desktop version

.events-link {
  position: absolute;
  right: 50px;
  bottom: 80px;
  font-size: 22px;
  font-weight: 900;
  color: $color-yellow;
  border-bottom: 1px solid $color-yellow;
}

.main-event {
  margin-left: $header-title-margin;
  position: relative;
  text-transform: uppercase;
  &-img {
    width: 100%;
  }

  &-info {
    width: 45%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 52px;
    left: 0;
    display: flex;
    flex-wrap: wrap;

    &__group {
      flex-basis: 60%;
      box-sizing: border-box;
      padding-top: 20px;
      padding-left: 20px;
      color: #fff;
      font-size: 30px;
      font-weight: 900;
    }

    &__date {
      flex-basis: 40%;
      box-sizing: border-box;
      padding-top: 20px;
      padding-right: 20px;
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      text-align: right;
      text-transform: lowercase;
    }

    &__more {
      flex-basis: 60%;
      box-sizing: border-box;
      padding-bottom: 20px;
      padding-left: 20px;

      .main-event-info__more-style {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 30px;
      }

      .main-event-info__more-description {
        text-transform: lowercase;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
      }
    }


    &__button {
      position: absolute;
      right: 20px;
      bottom: 30px;
      height: 50px;
      width: 130px;
      line-height: 50px;
      background-color: $color-yellow;
      text-align: center;
      font-size: 22px;
      font-weight: 900;
      color: $color-bg-gray;
    }
  }
}


//styles for tablet version
@media screen and (max-width: $max-width-tablet) {

  .events-link {
    right: 40px;
    font-size: 18px;
  }


  .main-event {
    margin-left: 0;

    &-img {

    }

    &-info {
      height: 170px;

      &__group {
        font-size: 18px;
      }

      &__date {
        font-size: 12px;
      }

      &__more {

        .main-event-info__more-style {
          font-size: 12px;
        }

        .main-event-info__more-description {
          font-size: 10px;
        }
      }

      &__button {
        width: 90px;
        height: 35px;
        right: 15px;
        bottom: 25px;
        font-size: 16px;
        line-height: 35px;
      }
    }
  }

}

//styles for mobile version
@media screen and (max-width: $max-width-mobile) {

  .events-link {
    bottom: 65px;
    right: 25px;
    font-size: 14px;
  }


  .main-event {

    &-img {

    }

    &-info {
      width: 60%;
      height: 150px;

      &__group {
        font-size: 12px;
        padding-top: 5px;
        padding-left: 5px;
      }

      &__date {
        font-size: 12px;
        padding-top: 5px;
        padding-right: 5px;
      }

      &__more {
        flex-basis: 100%;
        padding-bottom: 5px;
        padding-left: 5px;

        &-style {
          font-size: 12px;
          margin-bottom: 5px;
        }

        &-description {
          font-size: 10px;
        }
      }

      &__button {
        width: 50px;
        height: 25px;
        bottom: 10px;
        right: 10px;
        font-size: 12px;
        line-height: 22px;
      }
    }
  }
}