//styles for desktop version

.events-link {
  position: absolute;
  right: 50px;
  bottom: 80px;

  .events-link-color {
    font-size: 22px;
    font-weight: 700;
    color: $color-yellow;
    border-bottom: 1px solid $color-yellow;
  }
}

.main-event {
  padding-left: 300px;
  padding-right: 25px;
  padding-top: 40px;
  position: relative;

  .main-event-img {
    width: 100%;
  }

  .main-event-info {
    width: 40%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 60px;
    left: 310px;

    &__group {
      color: #fff;
      font-size: 30px;
      font-weight: 700;
      padding: 12px 0 6px 12px;
      width: 60%;
    }

    &__style {
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      padding-left: 12px;
    }

    &__description {
      color: #fff;
      font-weight: 400;
      font-size: 14px;
      width: 60%;
      padding: 6px 0 12px 12px;
    }

    &__date {
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      position: absolute;
      top: 12px;
      right: 12px;
    }

    &__button {
      width: 130px;
      height: 50px;
      background-color: $color-yellow;
      text-align: center;
      cursor: pointer;
      position: absolute;
      bottom: 30px;
      right: 12px;

      .main-event-info__button-text {
        font-size: 22px;
        font-weight: 700;
        line-height: 50px;
        color: $color-bg-gray;
      }
    }
  }
}

//styles for tablet version
@media screen and (max-width: $max-width-tablet) {

  .events-link {
    right: 40px;

    .events-link-color {
      font-size: 18px;
    }
  }


  .main-event {
    padding-left: 0;
    padding-right: 0;

    .main-event-img {
      width: 100%;
    }

    .main-event-info {
      width: 50%;
      height: 110px;
      left: 10px;

      &__group {
        font-size: 16px;
        padding: 4px 0 3px 6px;
        width: 60%;
      }

      &__style {
        font-size: 12px;
        padding-left: 4px;
      }

      &__description {
        font-size: 10px;
        padding: 3px 0 0px 6px;
        width: 56%;
      }

      &__date {
        font-size: 12px;
        top: 4px;
        right: 4px;
      }

      &__button {
        width: 80px;
        height: 35px;
        bottom: 20px;
        right: 6px;

        .main-event-info__button-text {
          font-size: 16px;
          line-height: 35px;
        }
      }
    }
  }

}

//styles for mobile version
@media screen and (max-width: $max-width-mobile) {

    .events-link {
      right: 25px;

      .events-link-color {
        font-size: 14px;
      }
    }


  .main-event {

    .main-event-img {

    }

    .main-event-info {
      height: 100px;

      &__group {
        font-size: 12px;
        padding: 6px 0 3px 6px;
      }

      &__style {
        padding-left: 6px;
        font-size: 12px;
      }

      &__description {
        font-size: 10px;
        padding: 3px 0 6px 6px;
      }

      &__date {
        font-size: 12px;
        top: 4px;
        right: 4px;
        width: 36%;
      }

      &__button {
        width: 60px;
        height: 25px;
        bottom: 10px;
        right: 5px;

        .main-event-info__button-text {
          font-size: 12px;
          line-height: 25px;
        }
      }
    }
  }

}