.photo-report {
	margin-left: $header-title-margin;
	margin-right: $section-head-margin;
}

.inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.title {
	flex-basis: 100%;
}

.section-head {
	font-family: Helvetica, sans-serif;
	color:  #ffffff;
	font-size: 30px;
	font-weight: 900;
}

.event {
	width: 49%;
}

.all-photo {
	display: flex;
}

.start-photo {
	width: 70%;
	margin-right: 6px;
	overflow: hidden;
}

.start-photo img {
	max-width: 100%;
}

.block-photo {
	width: 33%;

	&__elem {
		filter: brightness(50%);
		margin-bottom: 5px;
		max-width: 46%;
	}

	&__elem:nth-child(2n+1){
		margin-right: 3%;
	}

	&__elem:nth-child(5n) {
		margin-bottom: 0px;
	}

	&__button {
		width: 46%;
	}
}

.overground {
  font-family: Helvetica, sans-serif;
  color: #ffffff;
  font-size: 21px;
}

.photo-load-more {
	display: flex;
	justify-content: center;
	background-color: #ebb91f;
	border: none;
	margin-top: 20px;
	padding: 20px 0px 19px 0px;
	width: 249px;
	color: #292a2e;
	font-size: 22px;
	font-weight: 900;
	font-family: 'Helvetica', sans-serif;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}


@media screen and (max-width: $max-width-tablet) {

	.event{
		width: 100%;
	}

	.photo-report {
		margin-left: 0;
		margin-right: 0;
		padding: 0 40px;
	}

	.start-photo {
		width: auto;
	}

	.block-photo {
		width: 173px;

		&__button {
			margin-left: 2px;
		}
	}

	.overground {
		display: block;
		margin: 10px 0;
	}
}

