.photo-report {
	margin-left: $header-title-margin;
	margin-right: $section-head-margin;
}

.inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.title {
	flex-basis: 100%;
}

.section-head {
	font-family: Helvetica, sans-serif;
	color:  #ffffff;
	font-size: 30px;
	font-weight: 500;
	font-weight: 900;
}

.all-photo {
	display: flex;
	flex-wrap: wrap;
	width: 560px;
}

.start__photo1 {
	background-size: cover;
	background-image: url("../img/gallery/all_events/startPhoto1.png");
	width: 360px;
	margin-right: 9px;
}

.start__photo2 {
	background-size: cover;
	background-image: url("../img/gallery/all_events/startPhoto2.png");
	width: 360px;
	margin-right: 9px;
}

.block-photo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 175px;

	&__elem {
		margin-left: 6px;
		margin-bottom: 6px;
	}

	&__elem:nth-child(5n) {
		margin-bottom: 0px;
	}

	&__button {
	}
}
.overground {
  font-family: Helvetica, sans-serif;
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}

.photo-load-more {
	display: flex;
	justify-content: center;
	background-color: #ebb91f;
	border: none;
	margin-top: 20px;
	padding: 20px 0px 19px 0px;
	width: 249px;
	color: #292a2e;
	font-size: 22px;
	font-weight: 900;
	font-family: 'Helvetica', sans-serif;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

@media screen and (max-width: 1440px) {

}

