.tab-menu {
  margin-left: $header-title-margin;

  &__content-block {
    padding-top: 0;
    margin-top: 150px;
  }
}

.tab-head {
    text-transform: uppercase;
    background: url('../img/menu/notab.png') no-repeat;
    cursor: pointer;
    transition: all .25s ease-in-out;
    -webkit-tap-highlight-color: transparent;

    &-text {
      display: flex;
      align-items: center;
      width: 185px;
      height: 60px;
      box-sizing: border-box;
      padding: 0 40px 0 20px;
      color: #fff;
      font-size: 19px;
      font-weight: 900;
    }

    &:nth-child(5n+1).jtabs-current {
      background: url('../img/menu/tab_menu_00.png');
    }
    &:nth-child(5n+2).jtabs-current {
      background: url('../img/menu/tab_menu_01.png');
    }
    &:nth-child(5n+3).jtabs-current {
      background: url('../img/menu/tab_menu_02.png');
    }
    &:nth-child(5n+4).jtabs-current {
      background: url('../img/menu/tab_menu_03.png');
    }
    &:nth-child(5n).jtabs-current {
      background: url('../img/menu/tab_menu_04.png');
    }
  }


.jtabs{
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #111;
}
.jtabs .jtabs-nav{
  width: 100%;
}

.jtabs-nav__list{
  position: relative;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 7px;
    background-color: #5d523f;
    background-size: cover;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-yellow;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    outline: none;
  }
}

.jtabs .jtabs-nav li:hover{
  filter: brightness(1.1);
}

.jtabs-current {
  color: $color-bg-gray;
  //background-image: url('../img/menu/tab_menu_00.png');
}

/**
 * tabs content
 */
.jtabs-content {
  position: relative;

  &__img {
    position: absolute;
    max-width: 100%;
  }

  &__avocado {
    top: 140px;
    left: -130px;
    z-index: -1;
  }
  &__spices {
    top: 670px;
    left: -130px;
    z-index: -1;
  }
  &__pepper {
    bottom: 0;
    right: 70px;
    max-width: 100%;
  }
  &__leaves {
    top: 0;
    right: 0;
    max-width: 100%;
  }
}

.jtabs .jtab{
  width: 100%;
  background: url("../img/menu/table.jpg") no-repeat;
  background-size: cover;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jtabs .jtab-inner{
  box-sizing: border-box;
  padding: 20px;
  min-height: 350px;
  z-index: 0;

  & img {
    width: 100%;
    height: 100%;
  }
}

.jtabs-iphone-menu {

  &-title {
    position: relative;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    background: $color-yellow;
    color: $color-bg-gray;
    padding: 10px 15px;
    border-radius: 3px 3px 0 0;
    margin: 0 0 1px 0;

    &:after {
      content: '';
      position: absolute;
      right: 5%;
      top: 40%;
      border: 10px solid transparent;
      border-top: 10px solid $color-bg-gray;
    }
  }

  &-ul {
    &> .tab-head:nth-child(n) {
      width: 100%;
      justify-content: flex-start;
      background-color: rgba(41, 42, 46, 0.5);
      background-image: none;
      color: $color-yellow;

      & .jtabs-current {
        background-color: rgba(41, 42, 46, 0.5);
        background-image: none;
      }
    }
  }
}

.jtabs .jtabs-nav ul.jtabs-show{
  opacity: 1;
  z-index: 1000;
  transition: 0.25s opacity ease-in-out;
}

.jtabs .jtabs-nav .jtabs-iphone-menu{
  display: none;
}

@media (max-width: 765px) {

  .jtabs .jtabs-nav .jtabs-iphone-menu{
    display: block;
  }

  .jtabs .jtabs-nav{
    position: relative;
  }

  .jtabs .jtabs-nav .jtabs-iphone-menu-ul{
    opacity: 0;
    flex-direction: column;
    position: absolute;
    z-index: -10;
    width: 100%;
    background: #333;
    left: 0;
    top: 40px;
    transition: 0.25s opacity ease-in-out;
  }

  .jtabs-nav__list {
    display: none;
  }

  .jtabs .jtab{
    border-radius: 0 0 3px 3px;
  }
}

@media (max-width: 980px) {
  .tab-menu {
    margin: 0;

    &__content-block {
      padding-top: 100px;
      margin-top: 0;
    }
  }

  .jtabs-content {
    position: relative;

    &__img {
      display: none;
    }

    &__avocado {
      display: none;
    }
    &__spices {
      display: none;
    }
    &__pepper {
      display: none;
    }
    &__leaves {
      display: none;
    }
  }
}