.tab-menu {
  margin-left: $header-title-margin;

  &__content-block {
    padding-top: 0;
    margin-top: 150px;
  }
}

.tab-head {
  width: 185px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 40px 0 20px;
  color: #d6d6d6;
  font-size: 19px;
  font-weight: 900;
  text-transform: uppercase;
  background: url('../img/menu/notab.png') no-repeat;
  cursor: pointer;
  transition: all .25s ease-in-out;
  -webkit-tap-highlight-color: transparent;

  &:nth-child(1).jtabs-current {
    background: url('../img/menu/tab_menu_00.png');
  }
  &:nth-child(2).jtabs-current {
    background: url('../img/menu/tab_menu_01.png');
  }
  &:nth-child(3).jtabs-current {
    background: url('../img/menu/tab_menu_02.png');
  }
  &:nth-child(4).jtabs-current {
    background: url('../img/menu/tab_menu_03.png');
  }
  &:nth-child(5).jtabs-current {
    background: url('../img/menu/tab_menu_04.png');
  }
}

.jtabs{
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #111;
}
.jtabs .jtabs-nav{
  width: 100%;
}

.jtabs .jtabs-nav ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.jtabs .jtabs-nav li:hover{
  filter: brightness(1.2);
}

.jtabs-current {
  color: $color-bg-gray;
  //background-image: url('../img/menu/tab_menu_00.png');
}

/**
 * tabs content
 */
.jtabs-content {
  position: relative;

  &__img {
    position: absolute;
    max-width: 100%;
  }

  &__avocado {
    top: 140px;
    left: -130px;
    z-index: -1;
  }
  &__spices {
    top: 670px;
    left: -130px;
    z-index: -1;
  }
  &__pepper {
    bottom: 0;
    right: 70px;
    max-width: 100%;
  }
  &__leaves {
    top: 0;
    right: 0;
    max-width: 100%;
  }
}

.jtabs .jtab{
  width: 100%;
  background: url("../img/menu/table.jpg") no-repeat;
  background-size: cover;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jtabs .jtab-inner{
  padding: 20px;
  min-height: 350px;

  & img {
    max-width: 100%;
  }
}

.jtabs-iphone-menu-title{
  background: #1e8898;
  padding: 10px 15px;
  color: #fff;
  border-radius: 3px 3px 0 0;
  margin: 0 0 1px 0;
}

.jtabs .jtabs-nav ul.jtabs-show{
  display: flex;
}

.jtabs .jtabs-nav .jtabs-iphone-menu{
  display: none;
}

@media (max-width: 980px) {
  .tab-menu {
    margin-left: 0;

    &__content-block {
      padding-top: 50px;
      margin-top: 0;
    }
  }

  .jtabs-content {
    position: relative;

    &__img {
      display: none;
    }

    &__avocado {
      display: none;
    }
    &__spices {
      display: none;
    }
    &__pepper {
      display: none;
    }
    &__leaves {
      display: none;
    }
  }
}

@media (max-width: 650px) {

  .jtabs .jtabs-nav .jtabs-iphone-menu{
    display: block;
  }

  .jtabs .jtabs-nav{
    position: relative;
  }

  .jtabs .jtabs-nav ul{
    display: none;
  }

  .jtabs .jtabs-nav .jtabs-iphone-menu-ul{
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    width: 100%;
    background: #333;
    left: 0;
    top: 40px;
  }

  .jtabs .jtabs-nav li{
    float: none;
    margin: 0 0 1px 0;
    border-radius: 0;
    color: #333;
  }

  .jtabs .jtab{
    border-radius: 0 0 3px 3px;
  }
}
