<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-info">
                <div class="footer-info-contacts">
                    <p class="footer-info-contacts__header">Зв'язок з нами:</p>
                    <p><a href="tel: +380671557744" class="footer-info-contacts__phone">(067) 155 77 44</a></p>
                    <a href="https://www.instagram.com/solod.enjoy.bar/" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/solod.enjoy.bar/" target="_blank" title="facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.tripadvisor.ru/Restaurant_Review-g294474-d8679175-Reviews-SOLOD_enjoy_bar-Kiev.html"
                        target="_blank" title="tripadvisor"><i class="fab fa-tripadvisor"></i></a>
                </div>
                <div class="footer-info-schedule">
                    <p class="footer-info-schedule__header">Режим роботи:</p>
                    <p class="footer-info-schedule__working-hours">пн-чт: 10:00-23:00</p>
                    <p class="footer-info-schedule__working-hours">пт-нд: 10:00-02:00</p>
                </div>
                <div class="footer-info-form">
                    <form id="form" action="" method="POST">
                        <p class="footer-info-form__header">Є побажання? Напиши нам</p>
                        <input class="footer-info-form__input" name="name" type="text" placeholder="Ім'я*" autocomplete="off"
                            required>
                        <input class="footer-info-form__input footer-info-form__input-tel" name="phone" type="tel"
                            placeholder="Телефон*" autocomplete="off" required>
                        <textarea class="footer-info-form__input footer-info-form__input-msg" name="message" id="" rows="1"
                            placeholder="Повідомлення" autocomplete="off"></textarea>
                        <input class="footer-info-form__submit" type="submit" value="Надіслати">
                    </form>
                </div>
            </div>
        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.6769778785083!2d30.591817191986475!3d50.42848976825049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c57dd85632a3%3A0x60a23243bc1fbf89!2z0KLQpiDigJxTaWx2ZXIgQnJlZXpl4oCd!5e0!3m2!1suk!2sua!4v1543098530136"
                width="100%" height="500px" frameborder="0" allowfullscreen></iframe>
        </div>
</footer>