<section class="main-event">
    <img class="main-event-img" src="img/events/events-dark-big-event001.jpg">
    <div class="main-event-info">
        <div class="main-event-info__group">ГУРТ "REBEL ROCKS"</div>
        <div class="main-event-info__style">СТИЛЬ: РОК</div>
        <div class="main-event-info__description">Тут може бути опис групи яка сьогодні виступає. Цей текст може бути
            максимум у 3 рядки.
        </div>
        <div class="main-event-info__date">28.10.2018 o 20:00</div>
        <a href="#" class="main-event-info__button"><div>ЙДУ</div></a>
    </div>
</section>