<section class="photo-report">
        <div class="photoReport">
            <div class="headline-section">
                <div class="gallery__headline">ФОТОЗВІТ</div>
            </div>
            <a class="photoReport-block" href="one-event.html">
                <div class="all-photo">
                    <div class="Start__photo"><img src="img/gallery/all_events/startPhoto1.png"></div>
                    <div class="block-small">
                        <div class="next__photo"><img src="img/gallery/all_events/next1.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next2.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next3.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next4.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next5.png"></div>
                        <div class="next__button"><img src="img/gallery/all_events/NextButton.png"></div>
                    </div>
                </div>
                <div class="overground">OVERGROUND 09/18</div>
            </a>
            <a class="photoReport-block" href="one-event.html">
                <div class="all-photo">
                    <div class="Start__photo"><img src="img/gallery/all_events/startPhoto2.png"></div>
                    <div class="block-small">
                        <div class="next__photo"><img src="img/gallery/all_events/next6.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next7.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next8.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next9.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next10.png"></div>
                        <div class="next__button"><img src="img/gallery/all_events/NextButton.png"></div>
                    </div>
                </div>
                <div class="overground">OVERGROUND 11/18</div>
            </a>

            <div class="button-section">
                <a class="gallery__button" href="gallary-all.html">ЩЕ ФОТОЗВІТИ</a>
            </div>
        </div>
</section>
