<section class="photo-report">
    <h3 class="title section-head">ФОТОЗВІТ</h3>
    <div class="inner">
		<a class="all-photo" href="one-event-report.html">
			<div class="start__photo1"></div>
			<div class="block-photo">
				<img class="block-photo__elem" src="img/gallery/all_events/next1.png">
				<img class="block-photo__elem" src="img/gallery/all_events/next2.png">
				<img class="block-photo__elem" src="img/gallery/all_events/next3.png">
				<img class="block-photo__elem" src="img/gallery/all_events/next4.png">
				<img class="block-photo__elem" src="img/gallery/all_events/next5.png">
				<img class="block-photo__button" src="img/gallery/all_events/NextButton.png">
			</div>
			<p class="overground">OVERGROUND 09/18</p>
		</a>
		<a class="all-photo" href="one-event-report.html">
			<div class="start__photo2"></div>
			<div class="block-photo">
				<img class="block-photo__elem" src="img/gallery/all_events/next6.png">
				<img class="block-photo__elem" src="img/gallery/all_events/next7.png">
				<img class="block-photo__elem" src="img/gallery/all_events/next8.png">
				<img class="block-photo__elem" src="img/gallery/all_events/next9.png">
				<img class="block-photo__elem" src="img/gallery/all_events/next10.png">
				<img class="block-photo__button" src="img/gallery/all_events/NextButton.png">
			</div>
			<p class="overground">OVERGROUND 11/18</p>
		</a>
    </div>
     <a class="photo-load-more" href="gallery-all.html">усі фотозвіти</a>
</section>
