<section id="reserve" class="section-reserve">
    <div class="reserve-block-img">
        <img class="reserve-img" src="./img/reserve/plate.png" alt="Picture plate">
    </div>
    <div class="reserve-main" id="reserve-main-click">
        <div class="reserve-main__form">
            <h2 class="form-head">РЕЗЕРВ СТОЛУ</h2>
            <form action="#" class="reserve-form">
                <input class="clean-property reserve-form__name-phone" required="required" type="text" placeholder="Ім'я*">
                <input class="clean-property reserve-form__name-phone" required="required" type="tel" placeholder="Телефон*">
                <input class="clean-property reserve-form__date-time" placeholder="dd/mm" required type="date" id="reserve-date">
                <input class="clean-property reserve-form__date-time" required type="time" id="reserve-time">
                <input class="clean-property btn" type="submit" value="РЕЗЕРВ">
            </form>
        </div>
    </div>
</section>