<section class="section-reserve-action">
    <div class="reserve-action">
        <img class="reserve-action__img" src="./img/reserve/drink-reverse.png" alt="Picture plate">
        <p class="reserve-action__info">БРОНЮЙ СТІЛ - ОТРИМУЙ НАСТОЯНКУ У ПОДАРУНОК</p>
    </div>
    <div class="reserve-block" id="reserve-click">
        <div class="reserve-block__form">
            <h2 class="reserve-block__title">РЕЗЕРВ СТОЛУ</h2>
            <form action="#" method="" class="reserve-form">
                <input class="clean-property reserve-form__name-phone " type="text" placeholder="Ім'я*">
                <input class="clean-property reserve-form__name-phone " type="tel" placeholder="Телефон*">
                <input class="clean-property reserve-form__date-time" type="date" placeholder="Дата">
                <input class="clean-property reserve-form__date-time " type="time" placeholder="Час">
                <input class="clean-property btn btn-action-reserve" type="submit" value="РЕЗЕРВ">
            </form>
        </div>
    </div>
</section>