<section id="reserve" class="section-reserve">
    <div class="reserve-block-img">
        <img class="reserve-img" src="./img/reserve/plate.png" alt="Picture plate">
    </div>
    <div class="reserve-main" id="reserve-main-click">
        <div class="reserve-main__form">
            <h2 class="reserve-main__title">РЕЗЕРВ СТОЛУ</h2>
            <form action="#" class="reserve-form">
                <input class="clean-property reserve-form__name-phone" type="text" placeholder="Ім'я*">
                <input class="clean-property reserve-form__name-phone " type="tel" placeholder="Телефон*">
                <input class="clean-property reserve-form__date-time " type="date">
                <input class="clean-property reserve-form__date-time " type="time">
                <input class="clean-property btn" type="submit" value="РЕЗЕРВ">
            </form>
        </div>
    </div>
</section>

<!--<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quibusdam sequi soluta. Atque consequatur dolore,-->
    <!--dolorem eos ex excepturi, itaque laudantium necessitatibus nemo porro quasi reiciendis repellat rerum, tenetur-->
    <!--voluptatibus.-->
    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis est et fugiat itaque magni, maxime quasi quia sint-->
    <!--soluta voluptatem voluptates voluptatibus. Aliquid deserunt ipsum iusto porro quibusdam repellendus saepe?-->
    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, corporis delectus incidunt iste labore magnam maxime-->
    <!--nobis nulla numquam qui quibusdam quis quo quos ratione reiciendis rem repudiandae tenetur veritatis.-->
<!--</div>-->
