<section id="reserve" class="section-reserve">
    <div class="reserve-block-img">
        <img class="reserve-img" src="./img/reserve/plate.png" alt="Picture plate">
    </div>
    <div class="reserve-main" id="reserve-main-click">
        <div class="reserve-main__form">
            <h2 class="reserve-main__title">РЕЗЕРВ СТОЛУ</h2>
            <form action="#" class="reserve-form">
                <input class="clean-property reserve-form__name-phone" type="text" placeholder="Ім'я*">
                <input class="clean-property reserve-form__name-phone " type="tel" placeholder="Телефон*">
                <label for="" class="reserve-form__dt-block">
                    <input class="clean-property reserve-form__date-time" type="text" placeholder="Дата">
                    <a href="" class="reserve-form__arrow"></a>
                </label>
                <label for="" class="reserve-form__dt-block">
                    <input class="clean-property reserve-form__date-time " type="text" placeholder="Час">
                    <a href="#" class="reserve-form__arrow"></a>
                </label>
                <input class="clean-property btn btn-main-reserve" type="submit" value="РЕЗЕРВ">
            </form>
        </div>
    </div>
</section>
