<section class="s-home-gallery">

	<a href="#" class="common-link-heading s-home-gallery__link">галерея</a>

	<div class="home-gallery">

		<button class="home-gallery__prev">
			<div class="left-arrow"></div>
		</button>

		<ul class="home-gallery__list">
			<li class="home-gallery__img" style="background-image: url(img/home-gallery/home-gallery-001.png);"></li>
			<li class="home-gallery__img" style="background-image: url(img/home-gallery/home-gallery-002.png);"></li>
			<li class="home-gallery__img" style="background-image: url(img/home-gallery/home-gallery-003.png);"></li>
			<li class="home-gallery__img" style="background-image: url(img/home-gallery/home-gallery-004.png);"></li>
			<li class="home-gallery__img" style="background-image: url(img/home-gallery/home-gallery-005.png);"></li>
			<li class="home-gallery__img" style="background-image: url(img/home-gallery/home-gallery-006.png);"></li>
			<li class="home-gallery__img" style="background-image: url(img/home-gallery/home-gallery-007.png);"></li>
		</ul>

		<button class="home-gallery__next">
			<div class="right-arrow"></div>
		</button>

	</div>

</section>