<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="https:///cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet'/>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="container">
    <%- include('_nav-menu'); %>
    <%- include('_reserve-btn')%>

    <section class="header-event">
        <img class="header-event-img" src="img/events/events-dark-big-event001.jpg">
        <div class="header-event-info">
            <h2 class="header-event-info__group">ГУРТ "REBEL ROCKS"</h2>
            <p class="header-event-info__date">28.10.18 o 20:00</p>
            <div class="header-event-info__more">
                <h4 class="header-event-info__more-style">СТИЛЬ: РОК</h4>
                <p class="header-event-info__more-description">Тут може бути опис групи яка сьогодні виступає. Цей текст
                    може
                    бути максимум у 3 рядки.
                </p>
            </div>
            <a href="#" class="header-event-info__button">ЙДУ</a>
        </div>
    </section>

    <section class="events-table">
        <div class="event">
            <img class="event-img" src="img/events/events-dark-event001.jpg">
            <div class="header-event-info">
                <h2 class="header-event-info__group">ГУРТ "REBEL ROCKS"</h2>
                <p class="header-event-info__date">28.10.18 o 20:00</p>
                <div class="header-event-info__more">
                    <h4 class="header-event-info__more-style">СТИЛЬ: РОК</h4>
                    <p class="header-event-info__more-description">Тут може бути опис групи яка сьогодні виступає. Цей текст
                        може
                        бути максимум у 3 рядки.
                    </p>
                </div>
                <a href="#" class="header-event-info__button">ЙДУ</a>
            </div>
        </div>

        <div class="event">
            <img class="event-img" src="img/events/events-dark-event002.jpg">
            <div class="header-event-info">
                <h2 class="header-event-info__group">ГУРТ "REBEL ROCKS"</h2>
                <p class="header-event-info__date">28.10.18 o 20:00</p>
                <div class="header-event-info__more">
                    <h4 class="header-event-info__more-style">СТИЛЬ: РОК</h4>
                    <p class="header-event-info__more-description">Тут може бути опис групи яка сьогодні виступає. Цей текст
                        може
                        бути максимум у 3 рядки.
                    </p>
                </div>
                <a href="#" class="header-event-info__button">ЙДУ</a>
            </div>
        </div>

        <div class="event">
            <img class="event-img" src="img/events/events-dark-event003.jpg">
            <div class="header-event-info">
                <h2 class="header-event-info__group">ГУРТ "REBEL ROCKS"</h2>
                <p class="header-event-info__date">28.10.18 o 20:00</p>
                <div class="header-event-info__more">
                    <h4 class="header-event-info__more-style">СТИЛЬ: РОК</h4>
                    <p class="header-event-info__more-description">Тут може бути опис групи яка сьогодні виступає. Цей текст
                        може
                        бути максимум у 3 рядки.
                    </p>
                </div>
                <a href="#" class="header-event-info__button">ЙДУ</a>
            </div>
        </div>

        <div class="event">
            <img class="event-img" src="img/events/events-dark-event004.jpg">
            <div class="header-event-info">
                <h2 class="header-event-info__group">ГУРТ "REBEL ROCKS"</h2>
                <p class="header-event-info__date">28.10.18 o 20:00</p>
                <div class="header-event-info__more">
                    <h4 class="header-event-info__more-style">СТИЛЬ: РОК</h4>
                    <p class="header-event-info__more-description">Тут може бути опис групи яка сьогодні виступає. Цей текст
                        може
                        бути максимум у 3 рядки.
                    </p>
                </div>
                <a href="#" class="header-event-info__button">ЙДУ</a>
            </div>
        </div>
    </section>

    <a class="event-button-load-more" href="#">БІЛЬШЕ</a>

    <%- include('_reserve-main'); %>
</div>
<%- include('_footer'); %>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
<script type="module" src="js/events.js"></script>
</body>
</html>