<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<%- include('_nav-menu'); %>

<%- include('_main-event'); %>

<div class="events-table">
    <div class="event">
        <img class="event-img" src="img/events/events-dark-event001.jpg">
        <div class="event-info">
            <div class="event-info__group">ГУРТ "REBEL ROCKS"</div>
            <div class="event-info__style">СТИЛЬ: РОК</div>
            <div class="event-info__description">Тут може бути опис групи яка сьогодні виступає. Цей текст може бути
                максимум у 3 рядки.
            </div>
            <div class="event-info__date">28.10.2018 o 20:00</div>
            <a href="#" class="event-info__button"><div>ЙДУ</div></a>
        </div>
    </div>
    <div class="event">
        <img class="event-img" src="img/events/events-dark-event002.jpg">
        <div class="event-info">
            <div class="event-info__group">ГУРТ "REBEL ROCKS"</div>
            <div class="event-info__style">СТИЛЬ: РОК</div>
            <div class="event-info__description">Тут може бути опис групи яка сьогодні виступає. Цей текст може бути
                максимум у 3 рядки.
            </div>
            <div class="event-info__date">28.10.2018 o 20:00</div>
            <a href="#" class="event-info__button"><div>ЙДУ</div></a>
        </div>
    </div>
    <div class="event">
        <img class="event-img" src="img/events/events-dark-event003.jpg">
        <div class="event-info">
            <div class="event-info__group">ГУРТ "REBEL ROCKS"</div>
            <div class="event-info__style">СТИЛЬ: РОК</div>
            <div class="event-info__description">Тут може бути опис групи яка сьогодні виступає. Цей текст може бути
                максимум у 3 рядки.
            </div>
            <div class="event-info__date">28.10.2018 o 20:00</div>
            <a href="#" class="event-info__button"><div>ЙДУ</div></a>
        </div>
    </div>
    <div class="event">
        <img class="event-img" src="img/events/events-dark-event004.jpg">
        <div class="event-info">
            <div class="event-info__group">ГУРТ "REBEL ROCKS"</div>
            <div class="event-info__style">СТИЛЬ: РОК</div>
            <div class="event-info__description">Тут може бути опис групи яка сьогодні виступає. Цей текст може бути
                максимум у 3 рядки.
            </div>
            <div class="event-info__date">28.10.2018 o 20:00</div>
            <a href="#" class="event-info__button"><div>ЙДУ</div></a>
        </div>
    </div>
</div>

<div class="event-button-load-more"><a href="#"><div>БІЛЬШЕ</div></a></div>


</body>
</html>