<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="gallery_all">

    <%- include('_nav-menu'); %>

    <div class="container">
        <section class="photoReport">
            <a class="photoReport-block" href="one-event.html">
                <div class="all-photo">
                    <div class="Start__photo"><img src="img/gallery/all_events/startPhoto1.png"></div>
                    <div class="block-small">
                        <div class="next__photo"><img src="img/gallery/all_events/next1.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next2.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next3.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next4.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next5.png"></div>
                        <div class="next__button"><img src="img/gallery/all_events/NextButton.png"></div>
                    </div>
                </div>
                <div class="overground">OVERGROUND 09/18</div>

            </a>
            <a class="photoReport-block" href="one-event.html">
                <div class="all-photo">
                    <div class="Start__photo"><img src="img/gallery/all_events/startPhoto2.png"></div>
                    <div class="block-small">
                        <div class="next__photo"><img src="img/gallery/all_events/next6.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next7.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next8.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next9.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next10.png"></div>
                        <div class="next__button"><img src="img/gallery/all_events/NextButton.png"></div>
                    </div>
                </div>
                <div class="overground">OVERGROUND 11/18</div>
            </a>
            <a class="photoReport-block" href="one-event.html">
                <div class="all-photo">
                    <div class="Start__photo"><img src="img/gallery/all_events/startPhoto3.png"></div>
                    <div class="block-small">
                        <div class="next__photo"><img src="img/gallery/all_events/next11.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next12.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next13.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next14.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next15.png"></div>
                        <div class="next__button"><img src="img/gallery/all_events/NextButton.png"></div>
                    </div>
                </div>
                <div class="overground">OVERGROUND 09/18</div>
            </a>
            <a class="photoReport-block" href="one-event.html">
                <div class="all-photo">
                    <div class="Start__photo"><img src="img/gallery/all_events/startPhoto4.png"></div>
                    <div class="block-small">
                        <div class="next__photo"><img src="img/gallery/all_events/next16.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next17.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next18.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next19.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next20.png"></div>
                        <div class="next__button"><img src="img/gallery/all_events/NextButton.png"></div>
                    </div>
                </div>
                <div class="overground">OVERGROUND 11/18</div>
            </a>
            <a class="photoReport-block" href="#">
                <div class="all-photo">
                    <div class="Start__photo"><img src="img/gallery/all_events/startPhoto5.png"></div>
                    <div class="block-small">
                        <div class="next__photo"><img src="img/gallery/all_events/next21.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next22.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next23.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next24.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next25.png"></div>
                        <div class="next__button"><img src="img/gallery/all_events/NextButton.png"></div>
                    </div>
                </div>
                <div class="overground">OVERGROUND 09/18</div>
            </a>
            <a class="photoReport-block" href="one-event.html">
                <div class="all-photo">
                    <div class="Start__photo"><img src="img/gallery/all_events/startPhoto6.png"></div>
                    <div class="block-small">
                        <div class="next__photo"><img src="img/gallery/all_events/next26.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next27.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next28.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next29.png"></div>
                        <div class="next__photo"><img src="img/gallery/all_events/next30.png"></div>
                        <div class="next__button"><img src="img/gallery/all_events/NextButton.png"></div>
                    </div>
                </div>
                <div class="overground">OVERGROUND 11/18</div>
            </a>
            <div class="button-section"> <a class="gallery__button" href ="#">ЩЕ ФОТОЗВІТИ</a></div>
        </section>

    </div>
</div>

<%- include('_footer'); %>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="js/main.js"></script>


</body>
</html>