<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OVERGROUND</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="one-event">
    <%- include('_nav-menu'); %>
    <div class="container">
        <div class="content">
             <a class="button-section" href="gallary-all.html">
                 <img class="back__butt"  src="img/gallery/one_event/Back-button.png">
             </a>
              <div class="overground">OVERGROUND 11/18</div>
            <div class="all-event">
                <img  class="one-foto" src="img/gallery/one_event/event1.png">
                <img  class="one-foto" src="img/gallery/one_event/event2.png">
                <img  class="one-foto" src="img/gallery/one_event/event3.png">
                <img  class="one-foto" src="img/gallery/one_event/event4.png">
                <img  class="one-foto" src="img/gallery/one_event/event5.png">
                <img  class="one-foto" src="img/gallery/one_event/event6.png">
                <img  class="one-foto" src="img/gallery/one_event/event7.png">
                <img  class="one-foto" src="img/gallery/one_event/event8.png">
                <img  class="one-foto" src="img/gallery/one_event/event9.png">
                <img  class="one-foto" src="img/gallery/one_event/event10.png">
                <img  class="one-foto" src="img/gallery/one_event/event11.png">
                <img  class="one-foto" src="img/gallery/one_event/event12.png">
                <img  class="one-foto" src="img/gallery/one_event/event13.png">
                <img  class="one-foto" src="img/gallery/one_event/event14.png">
                <img  class="one-foto" src="img/gallery/one_event/event15.png">
                <img  class="one-foto" src="img/gallery/one_event/event16.png">


            </div>

            <div class="button-section">
                <button class="gallery__button">ЩЕ ФОТОЗВІТИ</button>
            </div>
        </div>
    </div>
    <%- include('_footer'); %>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="js/main.js"></script>


</body>
</html>