body {
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  background-color: $color-white;

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-green;
    outline: none;
  }
}

.container {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

.section-head-white {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  color: $color-bg-gray;
  margin-bottom: 30px;
}

.form-head {
  font-size: 29px;
  font-weight: 900;
  margin-bottom: 30px;
}

section, footer {
  padding: 50px 0;
}
