.header {
  height: 900px;
  background: url("../white-img/index/main_header.png") no-repeat center;
  background-size: cover;
  display: flex;
  margin-left: 0;

  h1 {
    color: $color-white;
    font-size: 100px;
    font-weight: 900;
    margin-left: $header-title-margin;
    text-transform: uppercase;
    align-self: center;
  }
}

@media screen and (max-width: $max-width-tablet) {
  .container {
    .header {
      height: 80vh;
      h1 {
        margin-left: 10%;
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .container{
    .header{
      h1{
        font-size: 80px;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .container{
    .header{
      height: 60vh;
    }
  }
}

@media screen and (max-width: 400px) {
  .container{
    .header{
      h1{
        font-size: 60px;
      }
    }
  }
}