<section class="main-event">
    <p class="section-head-white">ПодіЇ</p>
    <img class="main-event-img" src="../white-img/events/events-white-big-main-event001.png">
    <div class="main-event-info">
        <h2 class="main-event-info__group">ГУРТ<br>"ВСЕ ПРОПАЛО"</h2>
        <p class="main-event-info__date">22.09.18 o 20:00</p>
        <div class="main-event-info__more">
            <h4 class="main-event-info__more-style">СТИЛЬ МУЗИКИ: РОК</h4>
            <p class="main-event-info__more-description">Друзі повертаються в SOLOD<br>давайте танцювати<br>до зустрічі!
            </p>
        </div>
        <a href="#reserve" class="main-event-info__button">ЙДУ</a>
    </div>
    <a class="events-link" href="all-events-white.html">ВСІ ПОДІЇ ></a>
</section>