<section class="photo-report">
    <h3 class="title section-head">ФОТОЗВІТ</h3>
    <div class="inner">
		<a class="event" href="one-event-report-white.html">
			<div class="all-photo">
				<div class="start-photo">
					<img src="/img/gallery/all_events/startPhoto1.png" alt="">
				</div>
				<div class="block-photo">
					<img class="block-photo__elem" src="../white-img/gallery/all_events/next1.png">
					<img class="block-photo__elem" src="../white-img/gallery/all_events/next2.png">
					<img class="block-photo__elem" src="../white-img/gallery/all_events/next3.png">
					<img class="block-photo__elem" src="../white-img/gallery/all_events/next4.png">
					<img class="block-photo__elem" src="../white-img/gallery/all_events/next5.png">
					<img class="block-photo__button" src="../white-img/gallery/all_events/NextButton.png">
				</div>
			</div>
			<p class="overground">OVERGROUND 09/18</p>
		</a>
		<a class="event" href="one-event-report-white.html">
			<div class="all-photo">
				<div class="start-photo">
					<img src="/img/gallery/all_events/startPhoto2.png" alt="">
				</div>
				<div class="block-photo">
					<img class="block-photo__elem" src="../white-img/gallery/all_events/next6.png">
					<img class="block-photo__elem" src="../white-img/gallery/all_events/next7.png">
					<img class="block-photo__elem" src="../white-img/gallery/all_events/next8.png">
					<img class="block-photo__elem" src="../white-img/gallery/all_events/next9.png">
					<img class="block-photo__elem" src="../white-img/gallery/all_events/next10.png">
					<img class="block-photo__button" src="../white-img/gallery/all_events/NextButton.png">
				</div>
			</div>
			<p class="overground">OVERGROUND 11/18</p>
		</a>
    </div>
     <a class="photo-load-more" href="gallery-all-white.html">усі фотозвіти</a>
</section>
