<section id="reserve" class="section-reserve">
    <div class="reserve-block-img">
        <img class="reserve-img" src="../white-img/reserve/plate-white.png" alt="Picture plate">
    </div>
    <div class="reserve-main-white" id="reserve-main-click">
        <div class="reserve-main-white__form">
            <h2 class="reserve-main-white__title">РЕЗЕРВ СТОЛУ</h2>
            <form id="contact" method="post" action="assets/js/email.php" class="reserve-form-white">
                <input class="clean-property reserve-form-white__name-phone" required type="text" placeholder="Ім'я*">
                <input class="clean-property reserve-form-white__name-phone" required type="tel" placeholder="Телефон*">
                <input class="clean-property reserve-form-white__date-time" required type="text" id="reserve-date-white" placeholder="Дата"><span class="date-time__arrow"></span>
                <label for="reserve-time"></label><select class="clean-property reserve-form-white__date-time" required id="reserve-time">
                    <option value="00:00">00:00</option>
                    <option value="00:30">00:30</option>
                    <option value="03:00">10:00</option>
                    <option value="03:00">10:30</option>
                    <option value="03:00">11:00</option>
                    <option value="03:00">11:00</option>
                    <option value="03:00">12:30</option>
                    <option value="03:00">13:00</option>
                    <option value="03:00">13:30</option>
                    <option value="03:00">14:00</option>
                    <option value="03:00">14:30</option>
                    <option value="03:00">15:00</option>
                    <option value="03:00">15:30</option>
                    <option value="03:00">16:00</option>
                    <option value="03:00">16:30</option>
                    <option value="03:00">17:00</option>
                    <option value="03:00">17:30</option>
                    <option value="03:00">18:00</option>
                    <option value="03:00">18:30</option>
                    <option value="03:00">19:00</option>
                    <option value="03:00">19:30</option>
                    <option value="03:00">20:00</option>
                    <option value="03:00">20:30</option>
                    <option value="03:00">21:00</option>
                    <option value="03:00">21:30</option>
                    <option value="03:00">22:00</option>
                    <option value="03:00">22:30</option>
                    <option value="03:00">23:00</option>
                    <option value="03:00">23:30</option>
                </select>
                <span class="date-time__arrow"></span>
                <input class="clean-property btn-white btn-main-reserve" type="submit" value="РЕЗЕРВ">
            </form>
        </div>
    </div>
</section>
