<div class="reserve-btn-wrapper">
    <a href="#reserve" class="reserve-btn" id="res-btn">
        <img src="../img/reserve/phone-icon.png" alt="Reserve" class="reserve-btn__icon">
        <p class="reserve-btn__text">РЕЗЕРВ</p>
    </a>
</div>