<div class="reserve-btn-wrapper">
    <a href="#reserve" class="reserve-btn-white" id="res-btn">
        <img src="./img/reserve/phone-icon.png" alt="Reserve" class="reserve-btn-white__icon">
        <p class="reserve-btn-white__text">РЕЗЕРВ</p>
    </a>
</div>