<section class="section-reserve-action">
    <div class="reserve-action">
        <img class="reserve-action__img" src="./img/reserve/drink-reverse.png" alt="Picture plate">
        <p class="reserve-action__info">БРОНЮЙ СТІЛ - ОТРИМУЙ 10% на коктейлі</p>
    </div>
    <div class="reserve-block" id="reserve-click">
        <div class="reserve-block__form">
            <h2 class="reserve-block__title">РЕЗЕРВ СТОЛУ</h2>
            <form action="#" method="" class="reserve-form">
                <input class="clean-property reserve-form__name-phone" required type="text" placeholder="Ім'я*">
                <input class="clean-property reserve-form__name-phone" required type="tel" placeholder="Телефон*">
                <input class="clean-property reserve-form__date-time" required type="text" id="reserve-date-action" placeholder="Дата">
                <label for="reserve-time"></label><select class="clean-property reserve-form__date-time" required id="reserve-time">
                    <option value="00:00">00:00</option>
                    <option value="00:30">00:30</option>
                    <option value="03:00">10:00</option>
                    <option value="03:00">10:30</option>
                    <option value="03:00">11:00</option>
                    <option value="03:00">11:00</option>
                    <option value="03:00">12:30</option>
                    <option value="03:00">13:00</option>
                    <option value="03:00">13:30</option>
                    <option value="03:00">14:00</option>
                    <option value="03:00">14:30</option>
                    <option value="03:00">15:00</option>
                    <option value="03:00">15:30</option>
                    <option value="03:00">16:00</option>
                    <option value="03:00">16:30</option>
                    <option value="03:00">17:00</option>
                    <option value="03:00">17:30</option>
                    <option value="03:00">18:00</option>
                    <option value="03:00">18:30</option>
                    <option value="03:00">19:00</option>
                    <option value="03:00">19:30</option>
                    <option value="03:00">20:00</option>
                    <option value="03:00">20:30</option>
                    <option value="03:00">21:00</option>
                    <option value="03:00">21:30</option>
                    <option value="03:00">22:00</option>
                    <option value="03:00">22:30</option>
                    <option value="03:00">23:00</option>
                    <option value="03:00">23:30</option>
                </select>
                <!--<input class="clean-property reserve-form__date-time" required type="time" id="reserve-time-action">-->
                <input class="clean-property btn" type="submit" value="РЕЗЕРВ">
            </form>
        </div>
    </div>
</section>