<section class="slider-section">
	<p class="section-head-white">галерея</p>
	<div class="slick-carousel">
		<div class="slick-item">
			<img src="assets/white-img/home-gallery/home-gallery-001.png" alt="Image NOT FOUND" class="img-responsive">
		</div>
		<div class="slick-item">
			<img src="assets/white-img/home-gallery/home-gallery-002.png" alt="Image NOT FOUND" class="img-responsive">
		</div>
		<div class="slick-item">
			<img src="assets/white-img/home-gallery/home-gallery-003.png" alt="Image NOT FOUND" class="img-responsive">
		</div>
		<div class="slick-item">
			<img src="assets/white-img/home-gallery/home-gallery-004.png" alt="Image NOT FOUND" class="img-responsive">
		</div>
		<div class="slick-item">
			<img src="assets/white-img/home-gallery/home-gallery-005.png" alt="Image NOT FOUND" class="img-responsive">
		</div>
		<div class="slick-item">
			<img src="assets/white-img/home-gallery/home-gallery-007.png" alt="Image NOT FOUND" class="img-responsive">
		</div>
	</div>
</section>