<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="https:///cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="../css/main-white.css">
</head>
<body>
<div class="container">
    <%- include('_nav-menu-white'); %>
    <%- include('_reserve-btn-white')%>

    <section class="content">
       	<div class="content__header">
       		<a class="button-section" href="gallery-all-white.html">
				<img class="back__butt"  src="../white-img/gallery/one_event/Back-button.png">
			</a>
			<p class="event-name">OVERGROUND 11/18</p>
       	</div>
        <div class="all-event-photo">
            <img class="photo" src="https://via.placeholder.com/670x1201">
			<img class="photo" src="https://via.placeholder.com/1202x670">
			<img class="photo" src="https://via.placeholder.com/1203x670">
			<img class="photo" src="https://via.placeholder.com/1204x670">
			<img class="photo" src="https://via.placeholder.com/1205x670">
			<img class="photo" src="https://via.placeholder.com/1206x670">
			<img class="photo" src="https://via.placeholder.com/1207x670">
			<img class="photo" src="https://via.placeholder.com/1208x670">
			<img class="photo" src="https://via.placeholder.com/1209x670">
			<img class="photo" src="https://via.placeholder.com/1210x670">
			<img class="photo" src="https://via.placeholder.com/1211x670">
			<img class="photo" src="https://via.placeholder.com/1212x670">
			<img class="photo" src="https://via.placeholder.com/1213x670">
			<img class="p/img/gallery/all_events/startPhoto1.pnghoto" src="https://via.placeholder.com/1214x670">
			<img class="photo" src="https://via.placeholder.com/1215x670">
			<img class="photo" src="https://via.placeholder.com/1216x670">
        </div>

        <div class="modal">
        	<div class="modal-wrapper container">
				<span class="close">&times;</span>
				<div class="modal-content">
					<div><button class="modal-content__item-left"></button></div>
					<div>
						<img class="modal-content__main" id="img01">
					</div>
					<div><button class="modal-content__item-right"></button></div>
				</div>
				<div class="caption">
					<div class="caption-links">
						<a href="#" class="caption__item">
							<img class="caption__item-icon" src="../img/gallery/one_event/share.png">
							поділитися на сторінці
						</a>
						<a href="#" class="caption__item">
							<img class="caption__item-icon" src="../img/gallery/one_event/messenger.png">
							відправити в messenger
						</a>
						<a href="#" class="caption__item">
							<img class="caption__item-icon" src="../img/gallery/one_event/copy.png">
							скопіювати посилання
						</a>
					</div>
					<a href="#" class="caption__square">
						<img class="caption__item-icon" src="../img/gallery/one_event/square.png">
					</a>
				</div>
        	</div>
        </div>

        <a class="gallery__button">ЩЕ ФОТО</a>
    </section>
    <%- include('_reserve-main-white')%>
    <%- include('_footer-white'); %>
</div>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
<script src="../js/white/oneEventReport-white.js"></script>
</body>
</html>
