<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Меню | Overground</title>
    <link rel="icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="https:///cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="../css/main-white.css">

</head>
<body>
<div class="container">

    <%- include('_nav-menu-white'); %>
    <%- include('_reserve-btn-white'); %>


    <div class="tab-menu">
        <section class="tab-menu__content-block">

            <div id="my-tabs" class="jtabs">
                <div class="jtabs-nav" data-iphone-menu="Виберiть меню">
                    <ul class="jtabs-nav__list">
                        <li data-name="tab-1" class="tab-head">
                            <p class="tab-head-text">
                                Основне меню
                            </p>
                        </li>
                        <li data-name="tab-2" class="tab-head">
                            <p class="tab-head-text">
                                Барна карта
                            </p>
                        </li>
                        <li data-name="tab-3" class="tab-head">
                            <p class="tab-head-text">
                                Суші
                            </p>
                        </li>
                        <li data-name="tab-4" class="tab-head jtabs-current">
                            <p class="tab-head-text">
                                Кальян
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="jtabs-content">
                    <img src="../img/menu/avokado.png" alt="content-absolute-img NOT FOUND" class="jtabs-content__img jtabs-content__avocado">
                    <img src="../white-img/menu/spices.png" alt="content-absolute-img NOT FOUND" class="jtabs-content__img jtabs-content__spices">
                    <img src="../white-img/menu/pepper.png" alt="content-absolute-img NOT FOUND" class="jtabs-content__img jtabs-content__pepper">
                    <img src="../white-img/menu/leaves.png" alt="content-absolute-img NOT FOUND" class="jtabs-content__img jtabs-content__leaves">

                    <div class="jtab" data-name="tab-1">
                        <div class="jtab-inner">
                            <img class="" src="../white-img/menu/menu_1.png" alt="Tab content NOT FOUND">
                        </div>
                    </div>

                    <div class="jtab" data-name="tab-2">
                        <div class="jtab-inner">
                            <img class="" src="../white-img/menu/menu_2.png" alt="Tab content NOT FOUND">
                        </div>
                        <div class="jtab-inner">
                            <img class="" src="../white-img/menu/menu_3.png" alt="Tab content NOT FOUND">
                        </div>
                    </div>

                    <div class="jtab" data-name="tab-3">
                        <div class="jtab-inner">
                            <img class="" src="../white-img/menu/menu_4.png" alt="Tab content NOT FOUND">
                        </div>
                    </div>

                    <div class="jtab" data-name="tab-4">
                        <div class="jtab-inner">
                            <img class="" src="../white-img/menu/menu_0.png" alt="Tab content NOT FOUND">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <%- include('_reserve-action-white'); %>
</div>

<%- include('_footer-white'); %>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
<script src="../js/white/menu-page-white.js"></script>

</body>
</html>