@media screen and (max-width: $max-width-tablet) {

  .events-table {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;

    .event {
      flex-basis: auto;
      margin-top: 40px;


      .event-img {
        width: 100%;
        height: auto;
      }

      .event-info {
        margin: 0;
        width: 50%;
        height: 110px;
        bottom: 10px;
        left: 10px;

        &__group {
          font-size: 16px;
          padding: 4px 0 3px 6px;
          width: 60%;
        }

        &__style {
          font-size: 12px;
          padding-left: 4px;
        }

        &__description {
          font-size: 10px;
          padding: 3px 0 0px 6px;
          width: 56%;
        }

        &__date {
          font-size: 12px;
          top: 4px;
          right: 4px;
        }

        &__button {
          width: 80px;
          height: 35px;
          bottom: 20px;
          right: 6px;


          div {
            font-size: 16px;
            line-height: 35px;
          }
        }
      }
    }
  }

  .event-button-load-more {
    width: 210px;
    height: 40px;
    margin: 40px auto;

    div {
      font-size: 20px;
      line-height: 40px;

    }
  }

}
