@media screen and (max-width: $max-width-tablet) {
.main-event {
  margin: 0 20px;
  .header-event {
    margin-left: 20px;
    margin-right: 20px;

    &-img {

    }

    &-info {
      height: 110px;

      &__group {
        font-size: 16px;
      }

      &__date {
        font-size: 12px;
      }

      &__more {

        .header-event-info__more-style {
          font-size: 12px;
        }

        .header-event-info__more-description {
          font-size: 10px;
        }
      }

      &__button {
        width: 80px;
        height: 35px;
        line-height: 35px;
        font-size: 18px;
      }
    }
  }
}

  .events-table {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    align-items: center;

    .event {
      width: 90%;
      flex-basis: auto;
      margin-bottom: 20px;


      .event-img {
        width: 100%;
        height: 100%;
      }

      &-info {
        height: 110px;
        margin: 0 10px;
        width: 50%;
        bottom: 10px;

        &__group {
          font-size: 16px;
        }

        &__date {
          font-size: 12px;
        }

        &__more {

          .event-info__more-style {
            font-size: 12px;
          }

          .event-info__more-description {
            font-size: 10px;
          }
        }

        &__button {
          width: 80px;
          height: 35px;
          line-height: 35px;
          font-size: 18px;
        }
      }
    }
  }

  .event-button-load-more {
    margin: 50px 0 50px 5%;
    padding: 8px 60px;
    font-size: 20px;
  }

}
