// Dark Site

// Colors

$color-yellow: #eab724;
$color-white: #ffffff;
$color-bg-gray: #292a2e;
$color-bg-black: #101112;

// Light SIte

// Colors

$color-green: #95bd3a;
$color-black: #000000;

// Common vars

//Screens
$max-width-mobile: 480px;
$max-width-tablet: 980px;
$min-width-desktop: 981px;

//Margins
$header-title-margin: 280px;
$side-menu-margin: calc((100vw - 1440px)/2);
$section-margin: 240px;
$section-head-margin: 40px;