@mixin flexRow-style {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@mixin flexColon-style {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}