@font-face{
	font-family: 'Helvetica';
	src: url('../fonts/Helvetica.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Helvetica';
	src: url('../fonts/Helvetica-bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face{
	font-family: 'Helvetica';
	src: url('../fonts/Helvetica-black.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}
	