body {
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  background-color: $color-bg-gray;
}

.container {
  position: relative;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

.common-link-heading{
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 30px;
  transition: all .4s ease;
  &:hover{
      color: $color-yellow;
  }
  }
