body {
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  background-color: $color-bg-gray;
}

.container {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

.section-head {
  text-transform: uppercase;
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  font-weight: 900;
  color: #fff;
  margin-bottom: 30px;
}

.form-head {
  font-size: 29px;
  font-weight: 900;
  margin-bottom: 30px;
}

section, footer {
  padding: 50px 0;
}

@media screen and (max-width: $max-width-mobile){
  .container {
    overflow-y: hidden;
  }
}
