// Dark Site

// Colors

$color-yellow: #efca24;
$color-white: #ffffff;
$color-bg-gray: #292a2e;
$color-bg-black: #101112;

// Light SIte

// Colors

$color-green: #95bd3a;
$color-black: #000000;

// Common vars

//Разрешения
$max-width-mobile: 480px;
$max-width-tablet: 980px;
$min-width-desktop: 981px;


