/**********DATEPICKER STYLES***********/

.ui-datepicker {
  width: 270px;
  height: auto;
  margin: 5px auto 0;
  font: 9pt Arial, sans-serif;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  background-color: $color-bg-gray;

  & a {
    text-decoration: none;
  }

  & table {
    width: 100%;
  }

  &-header {
    background: $color-bg-gray;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: $color-yellow;
    line-height: 30px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #111;
  }

  &-title {
    text-align: center;
  }

  & thead {
    background-color: $color-bg-gray;
    font-family: Helvetica, sans-serif;
    color: $color-yellow;
    border: none;
  }

  & th {
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px 0;
    color: #fff;
    filter: brightness(0.7);
  }

  & tbody td {
    padding: 0;
    text-align: center;
  }

  & td a {
    display: inline-block;
    width: 100%;
    line-height: 30px;
    color: rgba(255,255,255,0.5);
    background-color: #333;
    transition: 0.4s background-color ease-in-out;
  }

  &-calendar {
    & .ui-state-hover, .ui-state-active  {
      color: $color-bg-gray;
      background-color: $color-yellow;
    }
  }
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  line-height: 600%;
  overflow: hidden;
}

.ui-datepicker-prev {
  float: left;
  border-left: 3px solid $color-yellow;
  border-bottom: 3px solid $color-yellow;
  transform: scale(0.3) rotate(45deg);
}
.ui-datepicker-next {
  float: right;
  border-right: 3px solid $color-yellow;
  border-top: 3px solid $color-yellow;
  transform: scale(0.3) rotate(45deg);
}



/**********FORM STYLES***********/

.section-reserve {
  width: calc(100% - 250px);
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: $reserve-margin;
}

.reserve-block-img {
  position: absolute;
  right: 45%;
  width: 590px;
}
.reserve-img {
  width: 100%;
}
.reserve-main {
  width: 70%;
  background-color: $color-yellow;
  display: flex;
  justify-content: flex-end;
  padding: 85px 40px;
  margin: 50px 0;

  &__form {
    max-width: 415px;
    width: 55%;
  }

  &__title {
    color: $color-bg-gray;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 32px;
    text-transform: uppercase;
  }
}

.clean-property {
  outline: none;
  border: none;
  background-color: transparent;
}
.reserve-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__name-phone {
    border: 2px solid $color-bg-gray;
    width: 100%;
    margin-bottom: 30px;
    font-size: 17px;
    height: 50px;
    padding: 0 13px 0;
    box-sizing: border-box;

    &::placeholder {
      color: #000000;
      font-size: 17px;
      font-weight: 300;
    }
  }

  &__date-time {
    font-size: 17px;
    border: 2px solid $color-bg-gray;
    width: 49%;
    height: 50px;
    padding-left: 13px;
    margin-bottom: 22px;
    box-sizing: border-box;
    background-color: $color-yellow;

    &> option {
      background-color: $color-yellow;
    }


    &::placeholder {
      font-size: 17px;
      color: $color-black;
    }
  }

  .btn {
    width: 49%;
    background-color: $color-bg-gray;
    color: $color-yellow;
    padding: 15px 0;
    font-size: 22px;
    font-weight: 700;
  }
}




@media screen and (max-width: 1150px){
  .reserve-form {
    .btn {
      width: 47%;
    }
  }
}

@media screen and (max-width: $max-width-tablet){
  .section-reserve {
    width: 100%;
    margin-left: 0;
  }
  .reserve-form {
    &__date-time {
      font-size: 15px;

      &::-webkit-calendar-picker-indicator {
        padding-right: 10px;
      }
    }
    .btn {
      width: 100%;
    }
  }
  .reserve-main {
    padding: 40px 20px;

    &__title {
      font-size: 1.5rem;
    }
  }
  .reserve-block-img {
    right: 50%;
  }
  .reserve-main {
    width: 80%;
  }
}

@media screen and (max-width: 650px){
  .date-active {
    width: 50%;
  }
}

@media screen and (max-width: $max-width-mobile){
  .section-reserve {
    width: 100%;
    margin-left: 0;
  }
  .reserve-block-img {
    display: none;
  }
  .reserve-main {
    width: 90%;

    &__form {
      width: 100%;
      z-index: 1;
    }

  }

  .reserve-form {
    &__date-time {
      font-size: 14px;

      &::-webkit-calendar-picker-indicator {
        padding-right: 10px;
      }
    }
  }
}