.section-reserve {
  width: calc(100% - 250px);
  float: right;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  padding: 40px 0px;
}
.reserve-block-img {
  position: absolute;
  right: 45%;
  width: 590px;
}
.reserve-img {
  width: 100%;
}
.reserve-main {
  width: 70%;
  background-color: $color-yellow;
  display: flex;
  justify-content: flex-end;
  padding: 85px 40px;
  margin: 50px 0;

  &__form {
    max-width: 415px;
    width: 55%;
  }

  &__title {
    font-family: Helvetica, sans-serif;
    color: $color-bg-gray;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 32px;
    text-transform: uppercase;
  }
}
.clean-property {
  outline: none;
  border: none;
  background-color: transparent;
}
.reserve-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__name-phone {
    border: 2px solid $color-bg-gray;
    width: 100%;
    margin-bottom: 30px;
    font-size: 17px;
    height: 50px;
    padding: 0 13px;

    &::placeholder {
      color: #000000;
      font-size: 17px;
      font-weight: 300;
    }

  }

  &__date-time {
    width: 85%;
    //border: 2px solid $color-bg-gray;
    //width: 47%;
    //height: 54px;
    //margin-bottom: 22px;
    //padding-left: 13px;
    //box-sizing: border-box;

    &::placeholder {
      color: #000000;
      font-size: 17px;
      font-weight: 300;
    }
  }

  &__dt-block{
    border: 2px solid #292a2e;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 13px;
    margin-bottom: 22px;
    width: 43%;
  }

  &__arrow{
    background-image: url('/img/reserve/arrows.png');
    //display: inline-block;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
  }
}

.btn {
  background-color: $color-bg-gray;
  color: $color-yellow;
  padding: 20px 0px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-main-reserve{
  width: 48%;
  max-width: 195px;
}

@media screen and (max-width: 980px){
  .section-reserve{
    width: 100%;
  }

  .reserve-block-img {
    right: 55%;
  }

  .reserve-main{
    padding: 40px 30px 40px 30px;

    &__form {
      width: 65%;
    }

    &__title{
      font-size: 1.5rem;
    }
  }
  .reserve-form{
    &__dt-block{
      width: 40%;
    }
  }
  .btn-main-reserve{
    width: calc(40% + 17px);
  }
}

@media screen and (max-width: 480px){
  .reserve-block-img{
    //opacity: 0.7;
    display: none;
  }

  .reserve-main{
    width: 100%;

    &__form{
      width: 100%;
      z-index: 1;
    }
  }

  .reserve-form{
    justify-content: center;
    //&__date-time{
      //width: 100%;
    //}

    &__dt-block{
      width: 100%;
    }
  }

  .btn-main-reserve{
    width: 202px;

  }
}


