.reserve-btn {
  position: fixed;
  display: inline-block;
  border-radius: 50%;
  background-color: $color-yellow;
  border: 10px solid #a0a0a0;
  z-index: 999;
  padding: 20px 25px;
  text-align: center;
  top: 20px;
  right: 30px;

  &__text {
    //display: inline-block;
    color: #000000;
    font-size: 13px;
    font-weight: 700;
  }

  @media screen and (max-width: 980px) {
    top: 200px;
    right: 25px;
  }
  @media screen and (max-width: 480px) {
    top: calc(100vh - 150px);
    padding: 10px 15px;
  }

}

.display-none{
  display: none;
}