input::-webkit-clear-button {
  display: none;
}

.section-reserve-action {
  width: calc(100% - 250px);
  background-color: $color-yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: $header-title-margin;

  @media screen and (max-width: 980px){
    margin-left: 0;
    width: 100%;
  }

  @media screen and (max-width: 680px){
    justify-content: center;
    flex-wrap: wrap;
  }
}
.reserve-action {
  position: relative;
  bottom: 100px;
  width: 60%;

  @media screen and (max-width: 680px) {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 90%;
  }

  &__img {
    width: 100%;
    max-width: 390px;

    @media screen and (max-width: 680px) {
      max-width: 150px;
      position: relative;
      bottom: 50px;

    }
  }

  &__info {
    color: #101112;
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
    text-transform: uppercase;
    padding: 15px 20px;
    background-color: $color-yellow;
    position: absolute;
    bottom: 122px;
    left: 160px;

    @media screen and (max-width: 1300px) {
      font-size: 1.5rem;
      left: 23%;
    }

    @media screen and (max-width: 768px) {
      left: 10%;
    }
    @media screen and (max-width: 680px) {
      position: static;
      padding: 0;
    }

    @media screen and (max-width: 375px) {
      font-size: 16px;
      line-height: 25px;
    }
  }
}

.reserve-block {
  max-width: 40%;
  margin: 0 $section-head-margin;

  @media screen and (max-width: $max-width-tablet){
    max-width: 40%;
  }

  @media screen and (max-width: 680px){
    max-width: 600px;
    width: 90%;
    padding-top: 0;
  }

  &__title {
    color: $color-bg-gray;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 32px;
    text-transform: uppercase;
  }
}
