.reserve-btn {
  display: block;
  border-radius: 50%;
  background-color: $color-yellow;
  border: 10px solid #a0a0a0;
  position: fixed;
  z-index: 999;
  padding: 20px 25px;
  text-align: center;
  right: 42px;
  top: 54px;

  &__text {
    color: #000000;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.display-none {
  display: none;
}

@media screen and (max-width: 980px) {
  .reserve-btn {
    top: 200px;
    right: 25px;
  }
}

@media screen and (max-width: 480px) {
  .reserve-btn{
    top: calc(100vh - 150px);
    padding: 10px 15px;
  }
}
